<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="content-wrapper" style="background:url(images/register-bg.jpg) no-repeat; height:520px;">
  <div class="register-main">
      <div class="register-cnt">
          <table width="670" border="0" cellspacing="0" cellpadding="0">
     <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

    <td align="right">Date of Birth : </td>
    <td><label>
      <select name="select" class="form-style3" id="select">
        <option>01</option>
      </select>
      <select name="select2" class="form-style3" id="select2">
        <option>01</option>
      </select>
      <select name="select3" class="form-style3" id="select3">
        <option>2014</option>
      </select>
    </label></td>
    <td align="right">Phone : </td>
    <td><input name="textfield6" type="text" class="form-style2" id="textfield6" /></td>
  </tr>
  <tr>
    <td align="right">Address : </td>
    <td colspan="3"><table width="450" class="register-cnt2" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="92"><input name="textfield7" style="width:80px;" type="text" class="form-style2" id="textfield7" /></td>
        <td width="77"><select name="select4" class="form-style3" id="select4">
          <option>State</option>
        </select></td>
        <td width="67"><select name="select5" class="form-style3" id="select5">
          <option>Dist</option>
        </select></td>
        <td width="108"><select name="select6" class="form-style3" id="select6">
          <option>City/ Town</option>
        </select></td>
        <td width="206"><select name="select7" class="form-style3" id="select7">
          <option>Mandal</option>
        </select></td>
      </tr>
    </table></td>
    </tr>
  <tr>
    <td colspan="4" align="center" valign="middle"><label>
      <input name="button" type="submit" class="btn-style2" id="button" value="Submit" />
    </label></td>
    </tr>
</table>

      </div>
  </div>
</div>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>


      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
